#wrapper {
    min-width: none !important;
    max-width: none !important;
}

/* Grid CSS from https://css-tricks.com/seamless-responsive-photo-grid/ */

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px; 
    width: 100%; 
  }
  
#photos .searchResultItem a img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}